RegistrationWeb/RegistrationWeb.Client/Service References/RegistrationService/RegistrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RegistrationDAL.Client/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" />
  <xs:import schemaLocation="http://localhost/RegistrationDAL.Client/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="getCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="getCoursesResult" nillable="true" type="q1:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="getStudentsResult" nillable="true" type="q2:ArrayOfStudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentCourseList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentCourseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="getStudentCourseListResult" nillable="true" type="q3:ArrayOfStudentCourseListDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q4:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="student" nillable="true" type="q5:StudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertStudentCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="scl" nillable="true" type="q6:StudentCourseListDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertStudentCourseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertStudentCourseListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q7:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q8:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="student" nillable="true" type="q9:StudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="student" nillable="true" type="q10:StudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStudentCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="scl" nillable="true" type="q11:StudentCourseListDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStudentCourseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStudentCourseListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStudentCourseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="scl" nillable="true" type="q12:StudentCourseListDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStudentCourseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteStudentCourseListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="student" nillable="true" type="q13:StudentDAO" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q14:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dropCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="scl" nillable="true" type="q15:StudentCourseListDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dropCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dropCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scheduleCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q16:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scheduleCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scheduleCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q17:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCourseTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q18:CourseDAO" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="start" type="q19:duration" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="end" type="q20:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCourseTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyCourseTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCourseCapacity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q21:CourseDAO" />
        <xs:element minOccurs="0" name="capacity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyCourseCapacityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyCourseCapacityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listEnrolledStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="course" nillable="true" type="q22:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listEnrolledStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="listEnrolledStudentsResult" nillable="true" type="q23:ArrayOfStudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listStudentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="student" nillable="true" type="q24:StudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listStudentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" minOccurs="0" name="listStudentScheduleResult" nillable="true" type="q25:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>