RegistrationWeb/RegistrationWeb/Service References/ServiceReference1/RegistrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegistrationClient.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://34.193.92.187/RegistrationDAL.Client_deploy/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCourseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseDAO" nillable="true" type="tns:CourseDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseDAO" nillable="true" type="tns:ArrayOfCourseDAO" />
  <xs:complexType name="CourseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="courseCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="courseCredits" type="xs:int" />
      <xs:element minOccurs="0" name="courseDept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="courseID" type="xs:int" />
      <xs:element minOccurs="0" name="courseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="courseProfessor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentEnrollment" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="endTime" type="ser:duration" />
      <xs:element minOccurs="0" name="startTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseDAO" nillable="true" type="tns:CourseDAO" />
  <xs:complexType name="ArrayOfStudentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentDAO" nillable="true" type="tns:StudentDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentDAO" nillable="true" type="tns:ArrayOfStudentDAO" />
  <xs:complexType name="StudentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="major" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="studentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentDAO" nillable="true" type="tns:StudentDAO" />
  <xs:complexType name="ArrayOfStudentCourseListDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentCourseListDAO" nillable="true" type="tns:StudentCourseListDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentCourseListDAO" nillable="true" type="tns:ArrayOfStudentCourseListDAO" />
  <xs:complexType name="StudentCourseListDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:CourseDAO" />
      <xs:element minOccurs="0" name="Student" nillable="true" type="tns:StudentDAO" />
      <xs:element minOccurs="0" name="StudentCourseID" type="xs:int" />
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="courseID" type="xs:int" />
      <xs:element minOccurs="0" name="studentID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentCourseListDAO" nillable="true" type="tns:StudentCourseListDAO" />
</xs:schema>